body {
	background: url("/../images/background1.png");
	background-repeat: no-repeat;
    background-size: cover;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

@media screen and (max-width: 800px){
    body {
		background: url("/../images/smallBackground.jpg");
		background-repeat: no-repeat;
    	background-size: cover;
    	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	}
}


.home-container {
    text-align: center;
    background:  #11ffee00;
    color: white;
    float: left;
    margin-left: 10%;
    bottom: 10%;
    position: fixed;
}

.text-container{
	text-align: center;
    background:  #11ffee00;
    color: white;

}

@media screen and (max-width: 640px){
    .home-container {
	    text-align: center;
	    background:  #11ffee00;
	    color: white;
	    top: 25%;
	    position: fixed;
		background-size: cover;
	}
	.text-container{
		text-align: center;
	    background:  #11ffee00;
	    color: white;

	}
}





