body {
	background: url("/../images/background2.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

@media screen and (max-width: 800px){
    body {
		background: url("/../images/smallBackground.jpg");
		background-repeat: no-repeat;
    	background-size: cover;
    	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	}
}

.container {
	background: rgba(255,255,255, 0.75);
  	padding: 25px;
  	border-radius: 7px;
}

.dragonSide{
	width: 100%;
}

#HitDice {
	margin-left: 10px;
}

#abilitiesDice {
	margin-left: 10px;
}

#subracePanel{
	padding: 0px;
}

.list-group-item {
   
}

.pluses {
    float: right;
}


button {
    border-radius: 100px !important;
    background-color: #E7E7E7;
}

